<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ignition Report</ion-title>
  </ion-navbar>

  <ion-item style="background-color: #fafafa;">
    <ion-label>Select Vehicle</ion-label>
    <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name" itemTextField="Device_Name"
      [canSearch]="true" (onChange)="getIgnitiondevice(datetimeStart, datetimeEnd, selectedVehicle)">
    </select-searchable>
  </ion-item>
  <ion-row padding-left padding-right style="background-color: #fafafa;">
    <ion-col width-20>

      <ion-label>
        <span style="font-size: 13px">From Date</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD-MM-YYYY hh:mm a" [(ngModel)]="datetimeStart" (ionChange)="change(datetimeStart)"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #2ec95c;"></ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20>
      <ion-label>
        <span style="font-size: 13px">To Date</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD-MM-YYYY hh:mm a" [(ngModel)]="datetimeEnd" (ionChange)="change1(datetimeEnd)"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #dc0f0f;"></ion-datetime>
      </ion-label>
    </ion-col>


    <ion-col width-20>
      <div style="margin-top: 9px; float: right">
        <ion-icon ios="ios-search" md="md-search" style="font-size:2.3em;" (click)="getIgnitiondeviceReport(datetimeStart,datetimeEnd);"></ion-icon>
      </div>
    </ion-col>
  </ion-row>
</ion-header>


<ion-content>


  <!-- <ion-list>
    <ion-item *ngFor="let ignitationdata of igiReport">
      <ion-row>
        <ion-col width-50>
          <h2>{{ignitationdata.vehicleName}}</h2>
        </ion-col>
        <ion-col width-50 style="text-align: right; font-size: 13px">
          <ion-icon style="font-size: 18px;" name="switch" color="secondary" *ngIf="ignitationdata.switch=='ON'"></ion-icon>
          <ion-icon style="font-size: 18px;" name="switch" color="danger" *ngIf="ignitationdata.switch=='OFF'"></ion-icon>
          &nbsp;&nbsp;{{ignitationdata.switch}}
        </ion-col>
      </ion-row>

      <br/>
      <p>
        <ion-icon style="font-size:15px;" ios="ios-time" md="md-time"></ion-icon>&nbsp; {{ignitationdata.timestamp | date: 'medium'}}
      </p>
      <p *ngIf="ignitationdata.address" ion-text text-wrap>
        <ion-icon name="pin" color="danger"></ion-icon>&nbsp; {{ignitationdata.address}}
      </p>
      <p *ngIf="!ignitationdata.address">
        <ion-icon name="pin" color="danger"></ion-icon>&nbsp; N/A
      </p>


    </ion-item>
  </ion-list> -->
  <!-- <ion-list>

    <ion-card *ngFor="let ignitationdata of igiReport">

      <ion-row>
        <ion-col col-5>
          <div>
            <p style="margin-top:0%;">
              <span></span>
              <span style="color:gray;font-size:16px; margin-top: -9px;margin-left: 6px;font-weight: 400;">{{ignitationdata.vehicleName}}</span>
            </p>
          </div>
        </ion-col>
        <ion-col col-5>
          <div>
            <p style="margin-top:0%;">
              <span>
                <ion-icon ios="ios-time" md="md-time"></ion-icon>&nbsp;</span>
              <span style="font-size:11px;">{{ignitationdata.timestamp | date: 'medium'}}</span>
            </p>
          </div>
        </ion-col>
        <ion-col col-2>
          <div style="margin-top:0%;">

            <p style="margin-top:0%;text-align:center;" *ngIf="ignitationdata.switch=='OFF'">
              <span style="font-size:12px;">{{ignitationdata.switch}}&nbsp;</span>
              <span>
                <ion-icon ios="ios-switch" md="md-switch" style="color:#ee7272"></ion-icon>&nbsp;</span>
            </p>
            <p style="margin-top:0%;text-align:center;" *ngIf="ignitationdata.switch=='ON'">
              <span style="font-size:12px;">{{ignitationdata.switch}}&nbsp;</span>
              <span>
                <ion-icon ios="ios-switch" md="md-switch" style="color:#5edb82"></ion-icon>&nbsp;</span>
            </p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card-header style="padding:0px;">
            <ion-row>
              <ion-col>
                <p style="text-align:left;font-size: 14px;">
                  <span >
                    <ion-icon ios="ios-pin" md="md-pin" style="color:#e14444;font-size:15px;"></ion-icon>&nbsp;</span>&nbsp;&nbsp;
                  <span *ngIf="ignitationdata.address"></span>
                  <span *ngIf="!ignitationdata.address">&nbsp;&nbsp;&nbsp;&nbsp;N/A</span>
                  <span style="color:gray;font-size:11px; text-align:left;font-weight: 400;">{{ignitationdata.address}}</span>
                </p>
              </ion-col>
            </ion-row>
          </ion-card-header>
        </ion-col>
      </ion-row>

    </ion-card>
  </ion-list> -->
  <ion-list>
    <ion-card *ngFor="let ignitationdata of igiReport">

      <ion-item style="border-bottom: 2px solid #dedede;">
        <ion-thumbnail item-start>
          <img src="assets/imgs/car_red_icon.png">
          <!-- <img src="assets/imgs/car_red_icon.png" *ngIf="((item.device.iconType == 'car')&&(item.device.last_ACC=='0'))">
                <img src="assets/imgs/car_green_icon.png" *ngIf="((item.device.iconType == 'car')&&(item.device.last_ACC=='1'))">
                <img src="assets/imgs/car_grey_icon.png" *ngIf="((item.device.iconType == 'car')&&(item.device.last_ACC==null))">
                            
                <img src="assets/imgs/truck_icon_red.png"  *ngIf="((item.device.iconType == 'truck')&&(item.device.last_ACC=='0'))">
                <img src="assets/imgs/truck_icon_green.png"  *ngIf="(item.device.iconType == 'truck')&&(item.device.last_ACC=='1'))">
                <img src="assets/imgs/truck_icon_grey.png"  *ngIf="((item.device.iconType == 'truck')&&(item.device.last_ACC==null))">

                <img src="assets/imgs/bike_red_icon.png" *ngIf="((item.device.iconType == 'bike')&&(item.device.last_ACC=='0'))">
                <img src="assets/imgs/bike_green_icon.png" *ngIf="((item.device.iconType == 'bike')&&(item.device.last_ACC=='1'))">
                <img src="assets/imgs/bike_grey_icon.png" *ngIf="((item.device.iconType == 'bike')&&(item.device.last_ACC==null))">

                <img src="assets/imgs/jcb_red.png" *ngIf="((item.device.iconType == 'jcb')&&(item.device.last_ACC=='0'))">
                <img src="assets/imgs/jcb_green.png" *ngIf="((item.device.iconType == 'jcb')&&(item.device.last_ACC=='1'))">
                <img src="assets/imgs/jcb_gray.png" *ngIf="((item.device.iconType == 'jcb')&&(item.device.last_ACC==null))">

                <img src="assets/imgs/bus_red.png" *ngIf="((item.device.iconType == 'bus')&&(item.device.last_ACC=='0'))">
                <img src="assets/imgs/bus_green.png" *ngIf="((item.device.iconType == 'bus')&&(item.device.last_ACC=='1'))">
                <img src="assets/imgs/bus_gray.png" *ngIf="((item.device.iconType == 'bus')&&( !item.device.last_ACC ))">
            </ion-thumbnail>

            <ion-thumbnail item-start *ngIf="item.device != null && item.device.iconType == null">
                <img src="assets/imgs/car_red_icon.png" *ngIf="((item.device.iconType == 'car')&&(item.device.last_ACC=='0'))">
                <img src="assets/imgs/car_green_icon.png" *ngIf="((item.device.iconType == 'car')&&(item.device.last_ACC=='1'))">
                <img src="assets/imgs/car_grey_icon.png" *ngIf="((item.device.iconType == 'car')&&(item.device.last_ACC==null))">

                <img src="assets/imgs/truck_icon_red.png" *ngIf="((item.device.iconType == 'truck')&&(item.device.last_ACC=='0'))">
                <img src="assets/imgs/truck_icon_green.png" *ngIf="((item.device.iconType == 'truck')&&(item.device.last_ACC=='1'))">
                <img src="assets/imgs/truck_icon_grey.png" *ngIf="((item.device.iconType == 'truck')&&(item.device.last_ACC==null))">

                <img src="assets/imgs/bike_red_icon.png" *ngIf="((item.device.iconType == 'bike')&&(item.device.last_ACC=='0'))">
                <img src="assets/imgs/bike_green_icon.png" *ngIf="((item.device.iconType == 'bike')&&(item.device.last_ACC=='1'))">
                <img src="assets/imgs/bike_grey_icon.png" *ngIf="((item.device.iconType == 'bike')&&(item.device.last_ACC==null))">

                <img src="assets/imgs/jcb_red.png" *ngIf="((item.device.iconType == 'jcb')&&(item.device.last_ACC=='0'))">
                <img src="assets/imgs/jcb_green.png" *ngIf="((item.device.iconType == 'jcb')&&(item.device.last_ACC=='1'))">
                <img src="assets/imgs/jcb_gray.png" *ngIf="((item.device.iconType == 'jcb')&&(item.device.last_ACC==null))">

                <img src="assets/imgs/bus_red.png" *ngIf="((item.device.iconType == 'bus')&&(item.device.last_ACC=='0'))">
                <img src="assets/imgs/bus_green.png" *ngIf="((item.device.iconType == 'bus')&&(item.device.last_ACC=='1'))">
                <img src="assets/imgs/bus_gray.png" *ngIf="((item.device.iconType == 'bus')&&( !item.device.last_ACC ))">
            </ion-thumbnail>

            <ion-thumbnail item-start *ngIf="item.device == null && item.device.iconType != null">
                <img src="assets/imgs/car_red_icon.png" *ngIf="((item.device.iconType == 'car')&&(item.device.last_ACC=='0'))">
                <img src="assets/imgs/car_green_icon.png" *ngIf="((item.device.iconType == 'car')&&(item.device.last_ACC=='1'))">
                <img src="assets/imgs/car_grey_icon.png" *ngIf="((item.device.iconType == 'car')&&(item.device.last_ACC==null))">

                <img src="assets/imgs/truck_icon_red.png" *ngIf="((item.device.iconType == 'truck')&&(item.device.last_ACC=='0'))">
                <img src="assets/imgs/truck_icon_green.png" *ngIf="((item.device.iconType == 'truck')&&(item.device.last_ACC=='1'))">
                <img src="assets/imgs/truck_icon_grey.png" *ngIf="((item.device.iconType == 'truck')&&(item.device.last_ACC==null))">

                <img src="assets/imgs/bike_red_icon.png" *ngIf="((item.device.iconType == 'bike')&&(item.device.last_ACC=='0'))">
                <img src="assets/imgs/bike_green_icon.png" *ngIf="((item.device.iconType == 'bike')&&(item.device.last_ACC=='1'))">
                <img src="assets/imgs/bike_grey_icon.png" *ngIf="((item.device.iconType == 'bike')&&(item.device.last_ACC==null))">

                <img src="assets/imgs/jcb_red.png" *ngIf="((item.device.iconType == 'jcb')&&(item.device.last_ACC=='0'))">
                <img src="assets/imgs/jcb_green.png" *ngIf="((item.device.iconType == 'jcb')&&(item.device.last_ACC=='1'))">
                <img src="assets/imgs/jcb_gray.png" *ngIf="((item.device.iconType == 'jcb')&&(item.device.last_ACC==null))">

                <img src="assets/imgs/bus_red.png" *ngIf="((item.device.iconType == 'bus')&&(item.device.last_ACC=='0'))">
                <img src="assets/imgs/bus_green.png" *ngIf="((item.device.iconType == 'bus')&&(item.device.last_ACC=='1'))">
                <img src="assets/imgs/bus_gray.png" *ngIf="((item.device.iconType == 'bus')&&( !item.device.last_ACC ))"> -->

        </ion-thumbnail>
        <ion-row>
          <ion-col col-8>
            <p style="margin-left:3px;color:gray;font-size:16px;">{{ignitationdata.vehicleName}}</p>
          </ion-col>

          <ion-col col-4>
            <p style="margin-top:0%;text-align:center;" *ngIf="ignitationdata.switch=='OFF'">
              <span style="font-size:12px;">{{ignitationdata.switch}}&nbsp;</span>
              <span>
                <ion-icon ios="ios-switch" md="md-switch" style="color:#ee7272"></ion-icon>&nbsp;</span>
            </p>
            <p style="margin-top:0%;text-align:center;" *ngIf="ignitationdata.switch=='ON'">
              <span style="font-size:12px;">{{ignitationdata.switch}}&nbsp;</span>
              <span>
                <ion-icon ios="ios-switch" md="md-switch" style="color:#5edb82"></ion-icon>&nbsp;</span>
            </p>
          </ion-col>

        </ion-row>


        <ion-row>

          <p style="margin-top:0%;">
            <span>
              <ion-icon ios="ios-time" md="md-time" style="margin-left: 6px;font-size:15px;"></ion-icon>&nbsp;</span>
            <span style="font-size:11px;">{{ignitationdata.timestamp | date: 'medium'}}</span>
          </p>

        </ion-row>

        <ion-row>

          <p style="text-align:left;font-size: 14px;">
            <span>
              <ion-icon ios="ios-pin" md="md-pin" style="color:#e14444;font-size:15px;margin-left: 8px;
                    "></ion-icon>&nbsp;</span>
            <span *ngIf="ignitationdata.address"></span>
            <span *ngIf="!ignitationdata.address">&nbsp;&nbsp;N/A</span>
            <span style="color:gray;font-size:11px;font-weight: 400;text-align:justify;">{{ignitationdata.address}}</span>
          </p>

        </ion-row>
        <!--<ion-row style="margin-top:6%;">

                <ion-col>
                    <p style="color:gray;font-size:11px; margin-top: -9px; text-align:left;font-weight:400;">
                        <span *ngIf="item.ignOn">{{item.ignOn}}</span>
                        <span *ngIf="!item.ignOn">00.00</span>&nbsp;</p>
                    <p style="color:#53ab53;margin-left:0%;font-size:11px;font-weight: 350;">Running</p>
                </ion-col>
                <ion-col>
                    <p style="color:gray;font-size:11px; margin-top: -9px; text-align:left;font-weight:400;">
                        <span *ngIf="item.ignOff">{{item.ignOff}}</span>
                        <span *ngIf="!item.ignOff">00.00</span>&nbsp;</p>
                    <p style="color:#5dd17f;text-align:left;font-size: 11px;color:red;font-weight:350;">Stop</p>
                </ion-col>
                <ion-col center text-center>
                    <p style="color:gray;font-size:11px; margin-top: -9px; text-align:left;font-weight: 400;">
                        <span *ngIf="item.tripCount">{{item.tripCount}}</span>
                        <span *ngIf="!item.tripCount">00.00</span>&nbsp;</p>
                    <p style="text-align:left;font-size: 11px;color:#11c1f3;font-weight:350;">Trips</p>
                </ion-col>
            </ion-row>
            <ion-row style="margin-top: 2%;">
                <ion-col>
                    <p style="color:gray;font-size:11px; margin-top: -9px; text-align:left;font-weight: 400;">
                        <span *ngIf="item.distance">{{item.distance | number : '1.0-2'}}</span>
                        <span *ngIf="!item.distance">00.00</span>&nbsp;</p>
                    <p style="color:#009688;margin-left:0%;font-size: 11px;font-weight: 350;">Distance(Km)</p>
                </ion-col>
                <ion-col>
                    <p style="color:gray;font-size:11px; margin-top: -9px; text-align:left;font-weight: 400;">
                        <span *ngIf="item.avgSpeed">{{item.avgSpeed | number : '1.0-2'}}&nbsp;Km/h</span>
                        <span *ngIf="!item.avgSpeed">00.00</span>&nbsp;</p>
                    <p style="color:#009688;    margin-left:0%;font-size: 11px;font-weight: 350;">Avg.Speed</p>
                </ion-col>
                <ion-col>
                    <p style="color:gray;font-size:11px; margin-top: -9px; text-align:left;font-weight:400;">
                        <span *ngIf="item.maxSpeed">{{item.maxSpeed}}&nbsp;Km/h</span>
                        <span *ngIf="!item.maxSpeed">00.00</span>&nbsp;</p>
                    <p style="color:#009688;margin-left:0%;font-size: 11px;font-weight: 350;">Max Speed</p>
                </ion-col>
            </ion-row> -->

      </ion-item>

    </ion-card>
  </ion-list>
</ion-content>