page-daily-report {
    .clockdaliy{
        height: 27px;
        margin: 7px 0 7px 0px; 
        margin-left: -55%;
    }
    .dateStyle{
        padding: 0px;
        background: transparent;
        color:white;
        
    }
    .datetime-ios {
        padding: 11px 8px 11px 16px;
        font-size: 0.8em;
    }

    .item-md ion-thumbnail ion-img, .item-md ion-thumbnail img {
        width: 70px;
        height: 70px;
    }

    .item-md ion-thumbnail[item-start] {
        margin: 0px;
    }
    .item-ios ion-thumbnail ion-img, .item-ios ion-thumbnail img {
        width: 70px;
        height: 70px;
    }

    .item-ios ion-thumbnail[item-start] {
        margin: 0px;
    }
}

