<ion-header>
  <ion-navbar>
    <ion-title>Live Tracking
      <span *ngIf="titleText">For {{titleText}}</span>
    </ion-title>
    <ion-buttons end *ngIf="showBtn">
      <button ion-button (click)="ngOnInit()">All Vehicles</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-item *ngIf="!titleText">
    <ion-label>{{SelectVehicle}}</ion-label>
    <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name" itemTextField="Device_Name"
      [canSearch]="true" (onChange)="temp(selectedVehicle)">
    </select-searchable>
  </ion-item>
  <div id="map_canvas">
    <ion-buttons end>
      <button ion-button icon-only color="light" (click)="chooseMapType($event)" style="border-radius: 50%;">
        <ion-icon name="map" style="font-size: 22px;"></ion-icon>
      </button>
      <br/>
      <button ion-button icon-only color="light" (click)="trafficFunc()" style="border-radius: 50%;">
        <ion-icon name="walk"></ion-icon>
        <!-- <img src="assets/maps/196787.png" height="10" width="10"> -->
      </button>
      <br/>
      <button ion-button icon-only color="light" *ngIf="showShareBtn" (click)="shareLive($event)" style="border-radius: 50%;">
        <ion-icon name="share" style="font-size: 22px;"></ion-icon>
      </button>
    </ion-buttons>
  </div>
</ion-content>
<div *ngIf="onClickShow" class="divPlan">
  <ion-bottom-drawer [(hidden)]="drawerHidden" [dockedHeight]="dockedHeight" [bounceThreshold]="bounceThreshold" [shouldBounce]="shouldBounce"
    [distanceTop]="distanceTop">
    <div class="drawer-content">
      <p padding-left style="font-size: 13px" *ngIf="!address">N/A</p>
      <p padding-left style="font-size: 13px" *ngIf="address">{{address}}</p>
      <hr>
      <ion-row>
        <ion-col width-10 style="text-align:center">
          <img src="assets/imgs/statusIcons/ign_red.png" *ngIf="last_ACC=='0'" width="20" height="20">
          <img src="assets/imgs/statusIcons/ign_green.png" *ngIf="last_ACC=='1'" width="20" height="20">
          <img src="assets/imgs/statusIcons/ign_idle.png" *ngIf="last_ACC==null" width="20" height="20">
          <p>IGN</p>
        </ion-col>
        <ion-col width-10 style="text-align:center">
          <img src="assets/imgs/statusIcons/ac_na.png" width="20" height="20">
          <p>AC</p>
        </ion-col>
        <ion-col width-10 style="text-align:center">
          <img src="assets/imgs/statusIcons/fuel_available.png" *ngIf="currentFuel != null" width="20" height="20">
          <img src="assets/imgs/statusIcons/fuel_empty.png" *ngIf="currentFuel == null" width="20" height="20">
          <p>FUEL</p>
        </ion-col>
        <ion-col width-10 style="text-align:center">
          <img src="assets/imgs/statusIcons/power_na.png" *ngIf="power==null" width="20" height="20">
          <img src="assets/imgs/statusIcons/pwer_disconnected.png" *ngIf="power=='0'" width="20" height="20">
          <img src="assets/imgs/statusIcons/power_connected.png" *ngIf="power=='1'" width="20" height="20">
          <p>POWER</p>
        </ion-col>
        <ion-col width-10 style="text-align:center">
          <img src="assets/imgs/statusIcons/gps_na.png" *ngIf="gpsTracking==null" width="30" height="20">
          <img src="assets/imgs/statusIcons/gps_notPresent.png" *ngIf="gpsTracking=='0'" width="30" height="20">
          <img src="assets/imgs/statusIcons/gps_present.png" *ngIf="gpsTracking=='1'" width="30" height="20">
          <p>GPS</p>
        </ion-col>
      </ion-row>
      <hr>
      <ion-row>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px;" *ngIf="!total_odo">N/A</p>
          <p style="font-size: 14px;" *ngIf="total_odo">{{total_odo | number : '1.0-2'}}</p>
          <p style="font-size: 13px">Odometer</p>
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px;" *ngIf="!vehicle_speed">0 km/h</p>
          <p style="font-size: 14px;" *ngIf="vehicle_speed">{{vehicle_speed}} km/h</p>
          <p style="font-size: 13px">
            Speed
          </p>
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px;" *ngIf="fuel">{{fuel}}</p>
          <p style="font-size: 14px;" *ngIf="!fuel">N/A</p>
          <p style="font-size: 13px">Fuel</p>
        </ion-col>
      </ion-row>
      <hr>
      <ion-row>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px;" *ngIf="!distFromLastStop">0 Km</p>
          <p style="font-size: 14px;" *ngIf="distFromLastStop">{{distFromLastStop | number : '1.0-2'}} Km</p>
          <p style="font-size: 13px">From Last Stop</p>
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <img src="assets/imgs/milestone-png-1.png" width="30" height="35" style="margin-top: 9%">
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px;" *ngIf="!todays_odo">0 Km</p>
          <p style="font-size: 14px;" *ngIf="todays_odo">{{todays_odo | number : '1.0-2'}} Km</p>
          <p style="font-size: 13px">Total</p>
        </ion-col>
      </ion-row>
      <hr>
      <ion-row>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px;" *ngIf="!timeAtLastStop">N/A</p>
          <p style="font-size: 14px;" *ngIf="timeAtLastStop">{{timeAtLastStop}}</p>
          <p style="font-size: 13px">At Last Stop</p>
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <img src="assets/imgs/parkinglogo.png" width="30" height="30" style="margin-top: 9%">
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px;" *ngIf="!today_stopped">N/A</p>
          <p style="font-size: 14px;" *ngIf="today_stopped">{{today_stopped}}</p>
          <p style="font-size: 13px">Total</p>
        </ion-col>
      </ion-row>
      <hr>
      <ion-row>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px;" *ngIf="!lastStoppedAt">N/A</p>
          <p style="font-size: 14px;" *ngIf="lastStoppedAt">{{lastStoppedAt}}</p>
          <p style="font-size: 13px">From Last Stop</p>
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <img src="assets/imgs/2530791.png" width="30" height="35" style="margin-top: 9%">
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px;" *ngIf="!today_running">N/A</p>
          <p style="font-size: 14px;" *ngIf="today_running">{{today_running}}</p>
          <p style="font-size: 13px">Total</p>
        </ion-col>
      </ion-row>
    </div>
  </ion-bottom-drawer>
</div>
<div *ngIf="showActionSheet" class="divPlan">
  <ion-bottom-drawer [(hidden)]="drawerHidden1" [dockedHeight]="dockedHeight" [bounceThreshold]="bounceThreshold" [shouldBounce]="shouldBounce"
    [distanceTop]="distanceTop">
    <div class="drawer-content">

      <p padding-left style="font-size: 13px" *ngIf="!address">N/A</p>
      <p padding-left style="font-size: 13px" *ngIf="address">{{address}}</p>
      <hr>
      <ion-row>
        <ion-col width-10 style="text-align:center">
          <img src="assets/imgs/statusIcons/ign_red.png" *ngIf="last_ACC=='0'" width="20" height="20">
          <img src="assets/imgs/statusIcons/ign_green.png" *ngIf="last_ACC=='1'" width="20" height="20">
          <img src="assets/imgs/statusIcons/ign_idle.png" *ngIf="last_ACC==null" width="20" height="20">
          <p>IGN</p>
        </ion-col>
        <ion-col width-10 style="text-align:center">
          <img src="assets/imgs/statusIcons/ac_na.png" width="20" height="20">
          <p>AC</p>
        </ion-col>
        <ion-col width-10 style="text-align:center">
          <img src="assets/imgs/statusIcons/fuel_available.png" *ngIf="currentFuel != null" width="20" height="20">
          <img src="assets/imgs/statusIcons/fuel_empty.png" *ngIf="currentFuel == null" width="20" height="20">
          <p>FUEL</p>
        </ion-col>
        <ion-col width-10 style="text-align:center">
          <img src="assets/imgs/statusIcons/power_na.png" *ngIf="power==null" width="20" height="20">
          <img src="assets/imgs/statusIcons/pwer_disconnected.png" *ngIf="power=='0'" width="20" height="20">
          <img src="assets/imgs/statusIcons/power_connected.png" *ngIf="power=='1'" width="20" height="20">
          <p>POWER</p>
        </ion-col>
        <ion-col width-10 style="text-align:center">
          <img src="assets/imgs/statusIcons/gps_na.png" *ngIf="gpsTracking==null" width="30" height="20">
          <img src="assets/imgs/statusIcons/gps_notPresent.png" *ngIf="gpsTracking=='0'" width="30" height="20">
          <img src="assets/imgs/statusIcons/gps_present.png" *ngIf="gpsTracking=='1'" width="30" height="20">
          <p>GPS</p>
        </ion-col>
      </ion-row>
      <hr>
      <ion-row>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px;" *ngIf="!total_odo">N/A</p>
          <p style="font-size: 14px;" *ngIf="total_odo">{{total_odo | number : '1.0-2'}}</p>
          <p style="font-size: 13px">Odometer</p>
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px;" *ngIf="!vehicle_speed">0 km/h</p>
          <p style="font-size: 14px;" *ngIf="vehicle_speed">{{vehicle_speed}} km/h</p>
          <p style="font-size: 13px">
            Speed
          </p>
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px;" *ngIf="fuel">{{fuel}}</p>
          <p style="font-size: 14px;" *ngIf="!fuel">N/A</p>
          <p style="font-size: 13px">Fuel</p>
        </ion-col>
      </ion-row>
      <hr>
      <ion-row>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px;" *ngIf="!distFromLastStop">0 Km</p>
          <p style="font-size: 14px;" *ngIf="distFromLastStop">{{distFromLastStop | number : '1.0-2'}} Km</p>
          <p style="font-size: 13px">From Last Stop</p>
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <img src="assets/imgs/milestone-png-1.png" width="30" height="35" style="margin-top: 9%">
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px;" *ngIf="!todays_odo">0 Km</p>
          <p style="font-size: 14px;" *ngIf="todays_odo">{{todays_odo | number : '1.0-2'}} km</p>
          <p style="font-size: 13px">Total</p>
        </ion-col>
      </ion-row>
      <hr>
      <ion-row>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px;" *ngIf="!timeAtLastStop">N/A</p>
          <p style="font-size: 14px;" *ngIf="timeAtLastStop">{{timeAtLastStop}}</p>
          <p style="font-size: 13px">At Last Stop</p>
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <img src="assets/imgs/parkinglogo.png" width="30" height="30" style="margin-top: 9%">
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px;" *ngIf="!today_stopped">N/A</p>
          <p style="font-size: 14px;" *ngIf="today_stopped">{{today_stopped}}</p>
          <p style="font-size: 13px">Total</p>
        </ion-col>
      </ion-row>
      <hr>
      <ion-row>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px;" *ngIf="!lastStoppedAt">N/A</p>
          <p style="font-size: 14px;" *ngIf="lastStoppedAt">{{lastStoppedAt}}</p>
          <p style="font-size: 13px">From Last Stop</p>
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <img src="assets/imgs/2530791.png" width="30" height="35" style="margin-top: 9%">
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px;" *ngIf="!today_running">N/A</p>
          <p style="font-size: 14px;" *ngIf="today_running">{{today_running}}</p>
          <p style="font-size: 13px">Total</p>
        </ion-col>
      </ion-row>
    </div>
  </ion-bottom-drawer>
</div>