.ios, .md {
 
    page-splash {
 
        .scroll-content {
            display: flex;
            justify-content: center;
            align-items: center;
        }
 
        #bars {
            height: 80%;
 
            .cls-1 {
                opacity: 0;
                transform: rotate3d(1, 1, 0, 50deg);
                animation: 1s 0.2s ease fadeInAndSpin;
                animation-fill-mode: forwards;
            }
 
            .cls-2 {
                opacity: 0;
                transform: rotate3d(1, 1, 0, 50deg);
                animation: 1s 0.4s ease fadeInAndSpin;
                animation-fill-mode: forwards;
            }
 
            .cls-3 {
                opacity: 0;
                transform: rotate3d(1, 1, 0, 50deg);
                animation: 1s 0.6s ease fadeInAndSpin;
                animation-fill-mode: forwards;
            }
 
            .cls-4 {
                opacity: 0;
                transform: rotate3d(1, 1, 0, 50deg);
                animation: 1s 0.8s ease fadeInAndSpin;
                animation-fill-mode: forwards;
            }
 
            .cls-5, .cls-6 {
                opacity: 0;
                animation: 2s 1.5s linear fadeIn;
                animation-fill-mode: forwards;
            }
 
        }
 
    }
 
}
 
@keyframes fadeInAndSpin {
 
    100% {
        opacity: 1;
        transform: rotate3d(1, 1, 0, 0deg);
    }
 
}
 
@keyframes fadeIn {
 
    100% {
        opacity: 1;
    }
 
}
