page-live-single-device {
    #map_canvas_single_device{
        height: 100%;
        width: 100%;
    }
    .drawer-content {
        // background: rgba(0,0,0,0.5);
        // backdrop-filter: contrast(4) blur(20px);
        // border-top: 0.5px solid #0e0d0d;
        padding: 10px;
        // color: white;
        p {
            font-size: 8px;
        }
        .col {
            padding: 0px;
        }
      }
}