<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Distance Report</ion-title>
  </ion-navbar>

  <ion-item style="background-color: #fafafa;">
    <ion-label>Select Vehicle</ion-label>
    <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name" itemTextField="Device_Name"
      [canSearch]="true" (onChange)="getdistancedevice(datetimeStart, datetimeEnd, selectedVehicle)">
    </select-searchable>
  </ion-item>

  <ion-row padding-left padding-right style="background-color: #fafafa;">
    <ion-col width-20>
      <ion-label>
        <span style="font-size: 13px">From Date</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeStart" (ionChange)="change(datetimeStart)"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #2ec95c;"></ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20>
      <ion-label>
        <span style="font-size: 13px">To Date</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeEnd" (ionChange)="change1(datetimeEnd)"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #dc0f0f;"></ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20>
      <div style="margin-top: 9px; float: right;">
        <ion-icon ios="ios-search" md="md-search" style="font-size:2.3em;" (click)="getDistanceReport(datetimeStart,datetimeEnd);"></ion-icon>
      </div>
    </ion-col>
  </ion-row>
</ion-header>


<ion-content>

  <ion-card *ngFor="let item of distanceReportData">

    <ion-item style="border-bottom: 2px solid #dedede;">
      <ion-thumbnail item-start>
        <img src="assets/imgs/car_red_icon.png">
      </ion-thumbnail>

      <ion-row style="padding-left:4px">
        <ion-col col-8>
          <p style="color:black;font-size:16px;">{{item.Device_Name }}</p>
        </ion-col>
        <ion-col col-4>
          <p style="font-size: 12px;color:#e14444;" ion-text text-right>&nbsp;&nbsp; {{item.distance}}&nbsp;KM
          </p>
        </ion-col>
      </ion-row>
      <br/>
      <ion-row>
        <p>
          <span>
            <ion-icon ios="ios-pin" md="md-pin" style="color:#33c45c;font-size:17px;margin-left:5px;"></ion-icon>&nbsp;</span>
          <span *ngIf="item.StartLocation" style="color:gray;font-size:11px;font-weight: 400;"></span>
          <span *ngIf="!item.StartLocation" style="color:gray;font-size:11px;font-weight: 400;">&nbsp;&nbsp;N/A</span>
          <span style="color:gray;font-size:11px;font-weight: 400;" text-nowrap>{{item.StartLocation}}</span>
        </p>

      </ion-row>
      <ion-row>

        <p style="font-size: 14px;">
          <span>
            <ion-icon ios="ios-pin" md="md-pin" style="color:#e14444;font-size:17px;margin-left:5px;
                          "></ion-icon>&nbsp;</span>
          <span *ngIf="item.EndLocation" style="color:gray;font-size:11px;font-weight: 400;"></span>
          <span *ngIf="!item.EndLocation" style="color:gray;font-size:11px;font-weight: 400;">&nbsp;&nbsp;N/A</span>
          <span style="color:gray;font-size:11px;font-weight: 400;" text-nowrap>{{item.EndLocation}}</span>
        </p>

      </ion-row>

    </ion-item>

  </ion-card>
</ion-content>