page-stoppages-repo {
    .col {
        padding: 0px;
    }

    .item-md ion-thumbnail img {
        width: 70px;
        height: 70px;
    }
    .item-md ion-thumbnail[item-start] {
        margin: 0px 0px 0px 0;
    }
    ion-icon {
        display: inline-block;
        font-size: 0.9em;
    }
}
