<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Vehicle List</ion-title>
    <!-- <ion-buttons end *ngIf="isDealer || islogindealer"> -->
    <ion-buttons end *ngIf="isDealer">

      <button ion-button icon-only (click)="openAdddeviceModal()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <!-- <ion-searchbar (ionInput)="getItems($event)" (ionCancel)="onCancel($event)"></ion-searchbar> -->
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <!-- <ion-list>
    <ion-item *ngFor="let item of items">
      {{ item }}
    </ion-item>
  </ion-list> -->

  <ion-card *ngFor="let d of allDevicesSearch; let i=index;">

    <ion-item>
      <ion-avatar item-start *ngIf="d.vehicleType != null && d.iconType != null" (click)="livetrack(d)">
        <img src="assets/imgs/car_red_icon.png" title="{{d.Device_Name}}" *ngIf="((d.vehicleType.iconType == 'car')&&(d.last_ACC=='0'))">
        <img src="assets/imgs/car_green_icon.png" title="{{d.Device_Name}}" *ngIf="((d.vehicleType.iconType == 'car')&&(d.last_ACC=='1'))">
        <img src="assets/imgs/car_grey_icon.png" title="{{d.Device_Name}}" *ngIf="((d.vehicleType.iconType == 'car')&&(d.last_ACC==null))">

        <img src="assets/imgs/truck_icon_red.png" title="{{d.Device_Name}}" *ngIf="((d.vehicleType.iconType == 'truck')&&(d.last_ACC=='0'))">
        <img src="assets/imgs/truck_icon_green.png" title="{{d.Device_Name}}" *ngIf="((d.vehicleType.iconType == 'truck')&&(d.last_ACC=='1'))">
        <img src="assets/imgs/truck_icon_grey.png" title="{{d.Device_Name}}" *ngIf="((d.vehicleType.iconType == 'truck')&&(d.last_ACC==null))">

        <img src="assets/imgs/bike_red_icon.png" title="{{d.Device_Name}}" *ngIf="((d.vehicleType.iconType == 'bike')&&(d.last_ACC=='0'))">
        <img src="assets/imgs/bike_green_icon.png" title="{{d.Device_Name}}" *ngIf="((d.vehicleType.iconType == 'bike')&&(d.last_ACC=='1'))">
        <img src="assets/imgs/bike_grey_icon.png" title="{{d.Device_Name}}" *ngIf="((d.vehicleType.iconType == 'bike')&&(d.last_ACC==null))">

        <img src="assets/imgs/jcb_red.png" title="{{d.Device_Name}}" *ngIf="((d.vehicleType.iconType == 'jcb')&&(d.last_ACC=='0'))">
        <img src="assets/imgs/jcb_green.png" title="{{d.Device_Name}}" *ngIf="((d.vehicleType.iconType == 'jcb')&&(d.last_ACC=='1'))">
        <img src="assets/imgs/jcb_gray.png" title="{{d.Device_Name}}" *ngIf="((d.vehicleType.iconType == 'jcb')&&(d.last_ACC==null))">

        <img src="assets/imgs/bus_red.png" title="{{d.Device_Name}}" *ngIf="((d.vehicleType.iconType == 'bus')&&(d.last_ACC=='0'))">
        <img src="assets/imgs/bus_green.png" title="{{d.Device_Name}}" *ngIf="((d.vehicleType.iconType == 'bus')&&(d.last_ACC=='1'))">
        <img src="assets/imgs/bus_gray.png" title="{{d.Device_Name}}" *ngIf="((d.vehicleType.iconType == 'bus')&&( !d.last_ACC ))">
      </ion-avatar>

      <ion-avatar item-start *ngIf="d.vehicleType != null && d.iconType == null" (click)="livetrack(d)">
        <img src="assets/imgs/car_red_icon.png" title="{{d.Device_Name}}" *ngIf="((d.vehicleType.iconType == 'car')&&(d.last_ACC=='0'))">
        <img src="assets/imgs/car_green_icon.png" title="{{d.Device_Name}}" *ngIf="((d.vehicleType.iconType == 'car')&&(d.last_ACC=='1'))">
        <img src="assets/imgs/car_grey_icon.png" title="{{d.Device_Name}}" *ngIf="((d.vehicleType.iconType == 'car')&&(d.last_ACC==null))">

        <img src="assets/imgs/truck_icon_red.png" title="{{d.Device_Name}}" *ngIf="((d.vehicleType.iconType == 'truck')&&(d.last_ACC=='0'))">
        <img src="assets/imgs/truck_icon_green.png" title="{{d.Device_Name}}" *ngIf="((d.vehicleType.iconType == 'truck')&&(d.last_ACC=='1'))">
        <img src="assets/imgs/truck_icon_grey.png" title="{{d.Device_Name}}" *ngIf="((d.vehicleType.iconType == 'truck')&&(d.last_ACC==null))">

        <img src="assets/imgs/bike_red_icon.png" title="{{d.Device_Name}}" *ngIf="((d.vehicleType.iconType == 'bike')&&(d.last_ACC=='0'))">
        <img src="assets/imgs/bike_green_icon.png" title="{{d.Device_Name}}" *ngIf="((d.vehicleType.iconType == 'bike')&&(d.last_ACC=='1'))">
        <img src="assets/imgs/bike_grey_icon.png" title="{{d.Device_Name}}" *ngIf="((d.vehicleType.iconType == 'bike')&&(d.last_ACC==null))">

        <img src="assets/imgs/jcb_red.png" title="{{d.Device_Name}}" *ngIf="((d.vehicleType.iconType == 'jcb')&&(d.last_ACC=='0'))">
        <img src="assets/imgs/jcb_green.png" title="{{d.Device_Name}}" *ngIf="((d.vehicleType.iconType == 'jcb')&&(d.last_ACC=='1'))">
        <img src="assets/imgs/jcb_gray.png" title="{{d.Device_Name}}" *ngIf="((d.vehicleType.iconType == 'jcb')&&(d.last_ACC==null))">

        <img src="assets/imgs/bus_red.png" title="{{d.Device_Name}}" *ngIf="((d.vehicleType.iconType == 'bus')&&(d.last_ACC=='0'))">
        <img src="assets/imgs/bus_green.png" title="{{d.Device_Name}}" *ngIf="((d.vehicleType.iconType == 'bus')&&(d.last_ACC=='1'))">
        <img src="assets/imgs/bus_gray.png" title="{{d.Device_Name}}" *ngIf="((d.vehicleType.iconType == 'bus')&&( !d.last_ACC ))">
      </ion-avatar>

      <ion-avatar item-start *ngIf="d.vehicleType == null && d.iconType != null" (click)="livetrack(d)">
        <img src="assets/imgs/car_red_icon.png" title="{{d.Device_Name}}" *ngIf="((d.iconType == 'car')&&(d.last_ACC=='0'))">
        <img src="assets/imgs/car_green_icon.png" title="{{d.Device_Name}}" *ngIf="((d.iconType == 'car')&&(d.last_ACC=='1'))">
        <img src="assets/imgs/car_grey_icon.png" title="{{d.Device_Name}}" *ngIf="((d.iconType == 'car')&&(d.last_ACC==null))">

        <img src="assets/imgs/truck_icon_red.png" title="{{d.Device_Name}}" *ngIf="((d.iconType == 'truck')&&(d.last_ACC=='0'))">
        <img src="assets/imgs/truck_icon_green.png" title="{{d.Device_Name}}" *ngIf="((d.iconType == 'truck')&&(d.last_ACC=='1'))">
        <img src="assets/imgs/truck_icon_grey.png" title="{{d.Device_Name}}" *ngIf="((d.iconType == 'truck')&&(d.last_ACC==null))">

        <img src="assets/imgs/bike_red_icon.png" title="{{d.Device_Name}}" *ngIf="((d.iconType == 'bike')&&(d.last_ACC=='0'))">
        <img src="assets/imgs/bike_green_icon.png" title="{{d.Device_Name}}" *ngIf="((d.iconType == 'bike')&&(d.last_ACC=='1'))">
        <img src="assets/imgs/bike_grey_icon.png" title="{{d.Device_Name}}" *ngIf="((d.iconType == 'bike')&&(d.last_ACC==null))">

        <img src="assets/imgs/jcb_red.png" title="{{d.Device_Name}}" *ngIf="((d.iconType == 'jcb')&&(d.last_ACC=='0'))">
        <img src="assets/imgs/jcb_green.png" title="{{d.Device_Name}}" *ngIf="((d.iconType == 'jcb')&&(d.last_ACC=='1'))">
        <img src="assets/imgs/jcb_gray.png" title="{{d.Device_Name}}" *ngIf="((d.iconType == 'jcb')&&(d.last_ACC==null))">

        <img src="assets/imgs/bus_red.png" title="{{d.Device_Name}}" *ngIf="((d.iconType == 'bus')&&(d.last_ACC=='0'))">
        <img src="assets/imgs/bus_green.png" title="{{d.Device_Name}}" *ngIf="((d.iconType == 'bus')&&(d.last_ACC=='1'))">
        <img src="assets/imgs/bus_gray.png" title="{{d.Device_Name}}" *ngIf="((d.iconType == 'bus')&&( !d.last_ACC ))">
      </ion-avatar>

      <div>
        <h2>{{d.Device_Name}}</h2>
        <p style="color:#cf1c1c;font-size: 10px;font-weight: 400;margin:0px;" ion-text text-wrap>
          <span style="text-transform: uppercase;">{{d.status}} </span>
          <span *ngIf="d.status_updated_at ">since&nbsp;{{d.status_updated_at | date:'medium'}} </span>
        </p>
      </div>

      <button ion-button item-end clear (click)="presentPopover($event, d)" *ngIf="isDealer">

        <ion-icon ios="ios-more" md="md-more"></ion-icon>
      </button>

      <button ion-button item-end clear (click)="shareVehicle(d)" *ngIf="!isDealer">
        <ion-icon ios="ios-share" md="md-share"></ion-icon>
      </button>

      <div item-end *ngIf="d.currentFuel">
        <ion-avatar class="ava">
          <img src="assets/imgs/fuel.png">
        </ion-avatar>
        <p style="color: green; font-size: 10px;font-weight: 400;margin:0px;">{{d.currentFuel}}L</p>
      </div>
    </ion-item>

    <ion-row style="background-color: #fafafa;" padding-right>
      <ion-col width-20 style="text-align:center" (click)="livetrack(d)">
        <ion-icon name="pin" style="color:#ffc900;font-size: 12px;"></ion-icon>
        <p style="color:#131212;font-size: 10px;font-weight: 400;">Live</p>
      </ion-col>
      <ion-col width-20 style="text-align:center" (click)="showHistoryDetail(d)">
        <ion-icon name="clock" style="color:#d675ea;font-size: 12px;"></ion-icon>
        <p style="color:#131212;font-size: 10px;font-weight: 400;">History</p>
      </ion-col>
      <ion-col width-20 style="text-align:center">
        <ion-icon name="power" style="color:#ef473a;font-size: 12px;" *ngIf="d.last_ACC=='0'"></ion-icon>
        <ion-icon name="power" style="color:#1de21d;font-size: 12px;" *ngIf="d.last_ACC=='1'"></ion-icon>
        <ion-icon name="power" style="color:gray;font-size: 12px;" *ngIf="d.last_ACC==null"></ion-icon>
        <p style="color:#131212;font-size: 10px;font-weight: 400;">Ignition</p>
      </ion-col>
      <ion-col width-20 style="text-align:center" (click)="IgnitionOnOff(d)">
        <ion-icon name="switch" style="color:#ef473a;font-size: 12px;" *ngIf="d.ignitionLock=='1'"></ion-icon>
        <ion-icon name="switch" style="color:#1de21d;font-size: 12px;" *ngIf="d.ignitionLock=='0'"></ion-icon>
        <!-- <ion-icon name="switch" style="color:gray;font-size: 12px;" *ngIf="d.ignitionLock==null"></ion-icon> -->
        <p style="color:#131212;font-size: 10px;font-weight: 400;">Immobilize</p>
      </ion-col>
      <ion-col width-20 style="text-align:center" (click)="dialNumber(d.contact_number)">
        <ion-icon name="call" style="color:#0000FF;font-size: 12px;"></ion-icon>
        <p style="color:#131212;font-size: 10px;font-weight: 400;">Call Driver</p>
      </ion-col>
    </ion-row>

    <ion-item item-start class="itemStyle" style="background:#696D74;">
      <ion-row>

        <ion-col (onCreate)="device_address(d,i)" class="colSt2">

          <div class="overme">
            {{d.address}}
          </div>
        </ion-col>
        <ion-col class="colSt1">
          <p style="color:#fff;font-size: 12px;font-weight: 400;margin-top: 6px;">Today's distance</p>
          <p style="color:#fff;font-size: 12px;font-weight: 400;margin-top: 6px;">{{d.today_odo | number : '1.0-2'}}Kms</p>
        </ion-col>
      </ion-row>
    </ion-item>

  </ion-card>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>