<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contact Us</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <form class="form" [formGroup]="contactusForm">
    <p type="Name:">
      <input formControlName="name" type="text" placeholder="Write your name here.." />
    </p>
    <span class="span" *ngIf="!contactusForm.controls.name.valid && (contactusForm.controls.name.dirty || submitAttempt)">Name is required and should be in valid format!</span>
    <p type="Email:">
      <input formControlName="mail" type="email" placeholder="Let us know how to contact you back.." />
    </p>
    <span class="span" *ngIf="!contactusForm.controls.mail.valid && (contactusForm.controls.mail.dirty || submitAttempt)">Email id is required and should be in valid format!</span>
    <p type="Message:">
      <textarea rows="4" cols="50" formControlName="note" placeholder="What would you like to tell us.."></textarea>
    </p>
    <span class="span" *ngIf="!contactusForm.controls.note.valid && (contactusForm.controls.note.dirty || submitAttempt)">please write your message!</span>
    <button (tap)="contactUs()">Send Message</button>
    <div class="div">
      <!-- <p style="padding:0px">Support Details</p> -->
      <ion-icon name="call"></ion-icon> +91-9430420078
      <ion-icon name="mail"></ion-icon> sales@digiconsecure.com
      <!-- <ion-icon name="call"></ion-icon><a href="tel:+91-9028045389" style="color: white">+91-9028045389</a> 
        <ion-icon name="mail"></ion-icon><a href="mailto:poonam.g@processfactory.in" style="color: white">poonam.g@processfactory.in</a>  -->
    </div>
  </form>
</ion-content>