<ion-header>

  <ion-navbar color="gpsc">
    <ion-title>Sign Up</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="signup-page" padding>
  <form [formGroup]="signupForm">
    <ion-list no-lines>
      <ion-item class="itemSty">
        <ion-label color="light">First Name*</ion-label>
        <ion-input formControlName="firstname" type="text"></ion-input>
      </ion-item>
      <ion-item class="itemSty">
        <ion-label color="light">Last Name*</ion-label>
        <ion-input formControlName="lastname" type="text"></ion-input>
      </ion-item>
      <ion-item class="itemSty">
        <ion-label color="light">Email*</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      <ion-item class="itemSty">
        <ion-label color="light">Mobile Number*</ion-label>
        <ion-input formControlName="mobile" type="number"></ion-input>
      </ion-item>
      <ion-item class="itemSty">
        <ion-label color="light">Password*</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <ion-item class="itemSty">
        <ion-label color="light">Confirm Password*</ion-label>
        <ion-input formControlName="confirmpassword"  type="password"></ion-input>
      </ion-item>
      <ion-item class="itemSty">
        <ion-label color="light">Are you Dealer?</ion-label>
        <ion-checkbox color="gpsc" formControlName="check" (ionChange)="IsDealer(check)"></ion-checkbox>
      </ion-item>
    </ion-list>
  </form>
  <div class="btnDiv">
    <button ion-button block color="gpsc" (tap)="getotp()">NEXT</button>
    <ion-row>
      <p ion-text color="light">Already having an account?&nbsp;&nbsp;
        <span ion-text color="gpsc" (tap)="doLogin()">LOGIN</span>
      </p>
    </ion-row>
  </div>
</ion-content>